<section id="wrap" data-active="true">
  <h1>Identify</h1>
  <aside>
    <h2>Score</h2>
    <ul id="players">
    </ul>
  </aside>
  <main>
    <span id="time" class="time"></span>
    <picture id="imageWrap">
    </picture>
  </main>
  <div class="guesses"></div>
  <form name="guessForm">
    <label for="guess">Your guess</label>
    <input type="text" id="guess" placeholder="Describe what you see in the picture" autocomplete="off">
    <button type="submit">submit</button>
  </form>
  <progress value="30" max="30"></progress>
</section>
<div class="pop-over start">
  <main>
    <h1>Identify</h1>
    <p>How good are you at identifying things in pictures?</p>
    <p>Say what you see and earn points if other players see the same thing.</p>
    <button>Start</button>
  </main>
  <div>
    <h2>You appear to be offline. Hold on while we try to reconnect.</h2>
    <div class="loader"><div></div><div></div></div>
  </div>
</div>