<section id="wrap" data-active="true">
  <aside>
    <ul id="players">
    </ul>
  </aside>
  <main>
    <span id="time"></span>
    <span id="tags"></span>
    <form name="nameForm">
      <label for="name">Name: <input type="text" id="name"></label>
      <button type="submit">submit</button>
    </form>
    <picture id="imageWrap">
    </picture>
    <form name="guessForm">
      <label for="guess">Guess: <input type="text" id="guess"></label>
      <button type="submit">submit</button>
    </form>
  </main>
</section>