<section id="wrap" data-active="true">
  <h1>Identify</h1>
  <aside>
    <h2>Score</h2>
    <ul id="players">
    </ul>
  </aside>
  <main>
    <span id="time" class="time"></span>
    <picture id="imageWrap">
    </picture>
  </main>
  <div class="guesses"></div>
  <form name="guessForm">
    <label for="guess">Your guess</label>
    <input type="text" id="guess" placeholder="Describe what you see in the picture" autocomplete="off">
    <button type="submit">submit</button>
  </form>
  <progress value="60" max="60"></progress>
</section>