$font-bigger: 6.25em;
$font-big: 2.5em;
$font-medium: 1.375em;
$font-small: 1.125em;
$font-tiny: 0.75em;

$color-brand: #6571FF;
$color-dark: #1C1C1C;
$color-medium: #5F5F5F;
$color-light: #D5D5D5;
$color-faded: rgba(255,255,255, 0.7);

$bg-light: #FAFAFA;

$shadow: 0px 3px 10px 0px rgba(0,0,0,0.16);

$radius: 2px;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: $color-dark;
}
h1, h2 {
  margin: 0;
  font-weight: 900;
}
h1 {
  font-size: $font-bigger;
}
h2 {
  font-size: $font-big;
}
section {
  max-width: 60rem;
  margin: 3rem auto 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    'header header header header'
    'score picture picture picture'
    'blank guesses guesses guesses'
    'form form form form'
    'timer timer timer timer';
  
  h1 {
    grid-area: header;
  }
  aside {
    grid-area: score;
    padding: 0.5rem;
    background: $bg-light;
    box-shadow: $shadow;
    border-radius: $radius;
    h2 {
      margin-left: 0.75rem;
      margin-top: 0.9375rem;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 0.75rem;
        display: grid;
        grid-template-columns: 1fr auto;
        background: white;
        border: 1px solid #E5E5E5;
        margin-top: 0.5rem;
        color: $color-medium;
        &.active {
          border-color: #BEC3FF;
          background:#E6EAFF;
        }
        &:nth-child(1) {
          position: relative;
          &::after {
            content: '';
            height: 1.5rem;
            width: 3rem;
            background: url('../images/crown.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            transform: rotate(-20deg);
            top: -10px;
            left: -10px;
          }
        }
        .player {
          span {
            display: block;
            &:nth-child(1) {
              font-size: $font-small;
            }
            &:nth-child(2) {
              font-size: $font-tiny;
            }

          }
        }
        .rank {
          font-size: $font-medium;
        }
      }
    }
  }
  main {
    grid-area: picture;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: $shadow;
    border-radius: $radius;
    .time {
      position: absolute;
      font-size: $font-bigger;
      color: $color-faded;
    }
    picture, img {
      display: block;
      width: 100%;
      max-height: 30rem;
    }
  }
  .guesses {
    grid-area: guesses;
    display: flex;
    flex-wrap: wrap;

    span {
      border: 3px solid $color-brand;
      color: $color-brand;
      font-size: 1em;
      border-radius: 100px;
      padding: 0.4375rem 1.3125rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      animation: fadeIn 300ms forwards;
      &.all {
        background: $color-brand;
        color: white;
      }
    }
  }
  >form {
    grid-area: form;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    label {
      display: none;
    }
    input {
      grid-column: span 5;
      padding: 1.3125rem 1.75rem;
      font-size: $font-small;
      font-family: 'Roboto', sans-serif;
      border-radius: $radius;
      border: 1px solid $color-light;
    }
  }
  progress {
    grid-area: timer;
    width: 98%;
    margin-left: auto;
    position: relative;
    -webkit-appearance: none;
    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      background: url('../images/clock.png');
      background-size: cover;
      position: absolute;
      left: -1.2rem;
      top: 50%;
      transform: translatey(-52%);
    }
    &::-webkit-progress-bar {
      background-color: transparent;
    }
    &::-webkit-progress-value {
      background: $color-brand;
      height: 0.4375rem;
      margin-top: 4px;
      transition: width 0.5s ease;
    }
  }
}
button {
  background: $color-brand;
  color: white;
  text-transform: uppercase;
  border-radius: $radius;
  border: none;
  font-size: $font-medium;
}
.pop-over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background:white;
  display: grid;
  place-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 800ms;
  main {
    display: none;
    text-align: center;
    p {
      text-align: left;
      margin-bottom: 0;
    }
  }
  >div {
    display: none;
  }
  button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    justify-self: center;
  }
}
.start {
  opacity: 1;
  pointer-events: auto;
  main {
    display: block;
  }
}
.offline {
  opacity: 1;
  pointer-events: auto;
  >div {
    display: grid;
    place-items: center;
    grid-gap: 3rem;
  }
}
.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader div {
  position: absolute;
  border: 4px solid $color-brand;
  opacity: 1;
  border-radius: 50%;
  animation: pulse 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes pulse {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}