<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body>
{% block content %}{% endblock %}
<script src="/socket.io/socket.io.js"></script>
<script src='js/bundle.js'></script>
</body>
</html>