<section id="wrap" data-active="true">
  <aside>
    <ul id="players">
      <li>Player 1</li>
      <li>Player 2</li>
      <li>Player 3</li>
      <li>Player 4</li>
      <li>Player 5</li>
    </ul>
  </aside>
  <main>
    <span id="time"></span>
    <span id="tags"></span>
    <form name="nameForm">
      <label for="name">Name: <input type="text" id="name"></label>
      <button type="submit">submit</button>
    </form>
    <picture id="imageWrap">
    </picture>
    <form name="guessForm">
      <label for="guess">Guess: <input type="text" id="guess"></label>
      <button type="submit">submit</button>
    </form>
  </main>
</section>